body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 54px;
    color: white;
    background-color: #12232E;
}

h1 {
    font-size: 68px;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Hide arrow in input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

p {
    padding: 0;
    margin: 0;
}

/* custom classes */

.calculatorContainer {
    background-color: #007CC7;
    border: 1px solid black;
    border-radius: 10%;
    padding: 30px;
}

.brutto {
    /* background-color: #007CC7; */
}

.titleContainer {
    margin-bottom: 100px;
    border-bottom: 2px solid black;
}

.valuesContainer {
    padding-bottom: 20px;
}

.inputClass {
    font-size: 24px;
}

.buttonContainer {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.buttonBMICalc {
    font-size: 24px;
    background-color: #007CC7;
    color: white;
    border: white 1px solid;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 15px;
    letter-spacing: 2px;
}

.buttonBMICalc:focus {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.buttonBMICalc:hover {
    color: white;
    border: #203647 1px solid;
}

#reset {
    order: 0
}

#calc {
    order: 1;
}

.resultContainer {
    border-top: 2px solid black;
    text-align: center;
    margin-top: 40px;
    padding-top: 40px;
}



.redText {
    color: #8B0000;
}

.orangetext {
    color: orange;
}

.greentext {
    color: #00FF00;
}

/* custom generals  */

.hidden {
    display: none;
}